@if(users.length==0){

    <div class="alert alert-warning">
        No hay usuarios en el sistema
    </div>
    }@else {
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>NickName</th>
                <th>Remove</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            @for(user of users; track $index){
            <tr>
                
                <td> {{user.name}} </td>
                <td> {{user.lastName}} </td>
                <td> {{user.email}} </td>
                <td> {{user.username}} </td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="onRemoveUser(user.id)" >Eliminar</button>
                </td>
                <td>
                    <button class="btn btn-info btn-sm" (click)="onSelectedUser(user)" >Actualizar</button>
                </td>
            </tr>

            }

        </tbody>
    </table>
    }